<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TODO LIST</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/e3ae05b8e6.js"></script>
</head>
<body>
<div id="app">
  <div class="main">
  <h1 class="mainTitle">TODO</h1>

<!--    todo追加-->
  <section class="form add-form">
      <div class="form-container">
        <input type="text" class="form-input" @keyup.enter.shift="addTask" v-model="newTodo">
      </div>
      <button class="button" @click="addTask">追加</button>
  </section>
<!--    絞り込み検索-->
  <section class="form search-form">
      <div class="form-container">
        <input type="text" class="form-input" v-model="searchText">
      </div>
      <button class="button">検索</button>
  </section>
<!--    todolist-->
  <section class="todo-container">
          <transition-group name="fade" tag="ul" class="todo-tasks">
              <li class="todo-task" :class="{done: todo.isDone}" v-for="todo in computedTodos" :key="todo.id">
                <i class="fa-check-square check-box" :class="{far: !todo.isDone, fas: todo.isDone}" v-on:click="doneTask(todo)"></i>
                <span class="task-name" @click="editTask(todo)" v-if="!todo.editFlg">{{ todo.title }}</span>
                <input type="text" class="form-edit" v-if="todo.editFlg" v-model="todo.title" @keyup.enter.shift="renewTodo(todo)">
                <i class="fas fa-eraser eraser" v-on:click="removeTask(todo)"></i>
              </li>
          </transition-group>
  </section>
  </div>
</div>

<script src="dist/js/bundle.js"></script>
</body>
</html>